body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #eee;
  background-color: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

/* Space around the notes evenly */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
} 


