.sendicon {
    display: flex;
    justify-content: flex-end;
}

.sendicon button {   
    color: #f5ba13;
    border: none;
    cursor: pointer;
    outline: none;
}

.edit-form input, textarea {
    font-family: "Montserrat", sans-serif;
    width: 95%;
    border: none;
    resize: none;
    font-size:1.2rem;
    outline: none;
    font-weight: bolder;
}
#EditArea {
    width: 40%;
    margin: 30px auto 20px auto;
    background: #fff;
    padding-top: 0px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
#EditArea h1 {
    margin: 8px auto 5px auto;
    width: 100%;
}